body{
    background: white url("https://www.wallpapertip.com/wmimgs/81-810819_vector-background-for-website.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
span{
    color:white;
}

a{
   color:white;
}
#topNavBar{
   color:white;
}
button.navbar-toggle{
   background:white;
}
span.icon-bar{
   background:gray;
}
.navbar{
   border-radius:0;
}
.navbar-brand{
   font-family:'Satisfy',cursive;
}
label{
   color:white;
}
h2{
   color:white;
}
