body {    
      background-image: url("https://miro.medium.com/max/700/0*QJ-il8zvxGyN8119.");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}
.hero {
    position: relative;
    height: 30vh;
    width: 100%;
    display: left;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 10px;
    text-decoration: center;
}
p{
   color: white;
}
a{
   color: white;
}
a:hover{
   color: black;
}
h2{
   color: white;
}
span{
   color: white;
}
label{
   color: white;
}
input{
   color: black;
}
select{
   color: black;
}
li{
   color: white;
}
.createpost{
   background-color: gray;
   margin-left: 370px;
   width: 320px;
   padding: 10px;
}

.signup{
   background-color: gray;
   margin-left: 350px;
   width: 550px;
   padding: 10px;
   margin: 3% 27%;
}
.login{
   background-color: gray;
   margin-left: 350px;
   width: 350px;
   padding: 10px;
   margin: 5% 30%;
   text-align: center;
}
#id_password{
   margin-left: 10px;
   width: 55%;
}
#id_username{
   margin-left: 10px;
   width: 55%;
}
h1{
   color: white;
}
