<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy" />
<link rel="stylesheet" type="text/css" href="{% static 'virgool/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<form class="site-form" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="ok"/>
</form>
</body>
</html>
